#blockchain_choose{
    background-color: #636b6f;
}

.opacityClass{
    opacity : 0.5;
}

.alertFunctions{
    display: none;
}

#jsonAlert{
    display: none;
}

#selectNet{
    visibility: hidden;
}

.spinner-grow{
    display: none;
    margin-left: 45%;
}

#infoIcon{
    margin-left: 5%;
    width: 20px;
    height: 20px;
}
